doctype html
html(ng-app="codesnap" lang="en")
  head

    //---BASICS---
    //jQuery
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")

    //angular
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")

    //fastclick -- removes click delay on touch devices
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")

    //side comments
    script(src="assets/js/side-comments/release/side-comments.js")

    <!-- build:js(./client/) assets/js/app.min.js -->
    script(src="app/app.js")

    //---COMPONENTS---
    //auth
    script(src="app/shared/auth/authFactory.js")

    //home
    script(src="app/components/home/homeController.js")

    //post
    script(src="app/components/post/postController.js")
    script(src="app/components/post/postFactory.js")

    //user
    script(src="app/shared/user/userController.js")
    script(src="app/shared/user/userFactory.js")

    //profile
    script(src="app/components/profile/profileController.js")

    //signup
    script(src="app/components/signup/signupController.js")
    script(src="app/components/signup/signupFactory.js")

    //tag
    script(src="app/components/tag/tagController.js")
    script(src="app/components/tag/tagFactory.js")

    //---SHARED---
    //navbar
    script(src="app/shared/navbar/searchbarDirective.js")
    script(src="app/shared/navbar/navbarDirective.js")
    script(src="app/shared/subnavs/homeSubnavDirective.js")
    script(src="app/shared/subnavs/postSubnavDirective.js")
    script(src="app/shared/subnavs/profileSubnavDirective.js")

    //markdown directive
    script(src="app/shared/mdParser/fm.js")
    script(src="app/shared/mdParser/mdParserDirective.js")

    //auth factory
    script(src="app/shared/auth/authFactory.js")

    //search
    script(src="app/components/search/searchController.js")
    script(src="app/components/search/searchFactory.js")

    //faq
    script(src="app/components/faq/faqController.js")


    //markdown parser libs
    script(src="assets/lib/marked/lib/marked.js")

    //- search autocomplete dependencies
    script(src="assets/lib/angular-ui-select/dist/select.min.js")
    script(src="assets/lib/angular-sanitize/angular-sanitize.min.js")
    //- local storage module for search autocomplete and potentially tokens
    script(src="assets/lib/angular-local-storage/dist/angular-local-storage.min.js")


    //semantic ui elements
    //- dropdown menus
    script(src="assets/lib/semantic-ui-dropdown/dropdown.min.js")
    script(src="assets/lib/semantic-ui-transition/transition.min.js")
    script(src="assets/lib/semantic-ui-search/search.min.js")

    //infinite scroll
    script(src="assets/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js")
      
    //api for search
    script(src="assets/lib/semantic-ui-api/api.min.js")

    <!-- endbuild -->

    //---MARKDOWN STUFF---


    <!-- build:css(./client/) assets/css/styles.min.css -->
    //styles
    link(href="assets/css/styles.min.css" rel="stylesheet")
    link(href="assets/js/side-comments/release/side-comments.css" rel="stylesheet")
    link(href="assets/js/side-comments/release/themes/default-theme.css" rel="stylesheet")
    <!-- endbuild -->

    //code highlighter
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")
    script hljs.initHighlightingOnLoad();

    title CodeSnap
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    cr-navbar
    ui-view(name="subnav")
    ui-view.page-content(name="content")

