html.no-js(ng-app="crouton" lang="en")
  head

    //---BASICS---
    //angular + foundation
    //- script(src="assets/lib/angular/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")
    //- script(src="assets/lib/foundation-apps/dist/js/foundation-apps.js")
    //script(src="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.js")
    //- script(src="assets/lib/foundation-apps/dist/js/foundation-apps-templates.js")
    //script(src="http://cdn.jsdelivr.net/zurb/foundation-apps-templates-1.1.0.min.js")
    //- script(src="assets/lib/angular-ui-router/release/angular-ui-router.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    //- script(src="assets/lib/fastclick/lib/fastclick.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
    
    //- search autocomplete dependencies
    script(src="assets/lib/angular-ui-select/dist/select.min.js")
    script(src="assets/lib/angular-sanitize/angular-sanitize.min.js")
    
    //- local storage module for search autocomplete and potentially tokens
    script(src="assets/lib/angular-local-storage/dist/angular-local-storage.min.js")
    
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    
    <!-- build:js(./client/) assets/js/app.min.js -->
    script(src="app/app.js")

    //---COMPONENTS---
    //auth
    script(src="app/shared/auth/authFactory.js")

    //home
    script(src="app/components/home/homeController.js")

    //post
    script(src="app/components/post/postController.js")
    script(src="app/components/post/postFactory.js")

    //user
    script(src="app/components/user/userController.js")
    script(src="app/components/user/userFactory.js")

    //signup
    script(src="app/components/signup/signupController.js")
    script(src="app/components/signup/signupFactory.js")

    //tag
    script(src="app/components/tag/tagController.js")
    script(src="app/components/tag/tagFactory.js")

    //---SHARED---
    //navbar
    script(src="app/shared/navbar/searchbarDirective.js")
    script(src="app/shared/navbar/navbarController.js")
    //markdown directive
    script(src="app/shared/mdParser/fm.js")
    script(src="app/shared/mdParser/mdParserDirective.js")
    //auth factory
    script(src="app/shared/auth/authFactory.js")
    //search
    script(src="app/components/search/searchController.js")
    script(src="app/components/search/searchFactory.js")
    
    
    
    //markdown parser libs
    script(src="assets/lib/marked/lib/marked.js")
    <!-- endbuild -->

    //---MARKDOWN STUFF---

    //- select2 for search box
    link(href="assets/lib/angular-ui-select/dist/select.min.css" rel="stylesheet")
    <!-- build:css(./client/) assets/css/styles.min.css -->
    //styles  
    link(href="assets/css/styles.min.css" rel="stylesheet")
    <!-- endbuild -->



    //code highlighter
    //- script(src="assets/lib/highlightjs/highlight.pack.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")
    //- script hljs.initHighlightingOnLoad();

    //- select2 for search box and autocomplete


    title Crouton
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    ui-view(name="nav")
    ui-view(name="subnav")
<<<<<<< HEAD
    ui-view(name="content").grid-frame
=======
    ui-view(name="content")
>>>>>>> (feat) implement post design
