html(ng-app="crouton")
  head
    title Crouton

    //---BASICS---
    //angular
    script(src="assets/lib/angular/angular.js")
    script(src="assets/lib/angular-ui-router/release/angular-ui-router.js")
    script(src="app/app.js")

    //styles
    link(href="assets/css/styles.min.css" rel="stylesheet")
    script(src="assets/lib/foundation-apps/dist/js/foundation-apps.js")

    //---COMPONENTS---
    //home
    script(src="app/components/home/homeController.js")

    //---SHARED---
    //navbar
    script(src="app/shared/navbar/navbarDirective.js")

  body
    .grid-frame.vertical
      cr-navbar
      .grid-block.ng-scope.ui-animation(ng-class="['ui-animation']" ui-view)
