html.no-js(ng-app="crouton" lang="en")
  head
    //---BASICS---
    //angular + foundation
    script(src="assets/lib/angular/angular.js")
    script(src="assets/lib/foundation-apps/dist/js/foundation-apps.js")
    script(src="assets/lib/foundation-apps/dist/js/foundation-apps-templates.js")
    script(src="assets/lib/angular-ui-router/release/angular-ui-router.js")
    //- script(src="assets/lib/ngAnimate/js/angular-animate.min.js")
    script(src="assets/lib/fastclick/lib/fastclick.js")
    script(src="app/app.js")

    //---COMPONENTS---
    //auth
    script(src="app/shared/auth/authFactory.js")

    //home
    script(src="app/components/home/homeController.js")

    //post
    script(src="app/components/post/postController.js")
    script(src="app/components/post/postFactory.js")

    //user
    script(src="app/components/user/userController.js")
    script(src="app/components/user/userFactory.js")

    //signup
    script(src="app/components/signup/signupController.js")
    script(src="app/components/signup/signupFactory.js")

    //---SHARED---
    //navbar
    script(src="app/shared/navbar/navbarDirective.js")
    //markdown directive
    script(src="app/shared/mdParser/mdParserDirective.js")

    //---MARKDOWN STUFF---
    //styles
    link(href="assets/lib/css3-social-signin-buttons/auth-buttons.css" rel="stylesheet")
    link(href="assets/css/styles.min.css" rel="stylesheet")

    //markdown parser lib
    script(src="assets/lib/marked/lib/marked.js")
    //code highlighter
    script(src="assets/lib/highlightjs/highlight.pack.js")
    script hljs.initHighlightingOnLoad();

    title Crouton
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    cr-navbar
    ui-view(name="subnav")
    ui-view(name="content").grid-frame