.post-item2(ng-repeat="post in posts" ng-hide="!isOwner && !post.published")
  .post-date
    .date
      p.month {{post.created_date | date:"MMM"}}
      p.day {{post.created_date | date:"dd"}}
      p.year {{post.created_date | date:"yyyy"}}

  .post-content-container
    a.clickable(ui-sref="post({id: post.post_id })" ng-show="post.published")
      h2.title {{post.post_title}}
    h2.title(ng-hide="post.published") {{post.post_title}}
    a(ui-sref="post({id: post.post_id })" ng-show="post.published")
      p.summary {{post.summary}}...
    p.summary(ng-hide="post.published" ) {{post.summary}}...
    .profile-post-links
      .link-div(ng-show="isOwner")
          a(href="{{githubUrl}}" target="_blank")
            img(src="assets/img/edit.svg" alt="Edit Post")
            span Edit
      .link-div
        img(src="assets/img/heart-empty-thick.svg" alt="Edit Post")
        span {{post.likes}}       
      .link-div
        img(src="assets/img/views.svg" alt="Post View Count")
        span {{post.views}}         
      .link-div(ng-show="isOwner")
          span.published.status-container(ng-show="post.published") Published
          span.unpublished.status-container(ng-hide="post.published") Unpublished
