#post-error-container
  #post-error-text Please #[strong(ui-sref="signup") log in] to add a new post
  img#post-error-x(src="../../../assets/img/x.png")
.ui.message.floating.negative.deleted-message(ng-show="deletedUser")
  i.close.icon(ng-click="deletedUser = false")
  p Your account has been deleted. Your codesnap.io repo still exists in your Github account.


header(ng-show="showNav")
  .content
    .left
      a.site-title(ui-sref="home") &lt;code&gt;snap
      //.nav-links
      //  a(ui-sref="home") Home
      //  a(ui-sref="home") Discover
    .center
      .search-box
        .ui.category.search(cr-searchbar)
          .ui.icon.input
            input.prompt(type="text" placeholder="Search Codesnap...")
            i.search.icon
          .results
    .right
      .nav-right
        .ui.dropdown.top.left.pointing(ng-if="loggedIn")
          img.profile-picture(ng-src="{{user.profile_photo_url}}")
          .menu
            a.item(ui-sref="profile({username: user.username })") My Blog
            a.item(ui-sref="account") My Account
            a.item(ui-sref="faq") How it Works
            a.item(ng-click="logout()") Logout
        a.ui.newpost-btn.button.margin1(ng-click="newPost()" href="#" data-content="Create a new markdown file in your repository" ng-if="loggedIn")
          img(src="assets/img/Plus.svg" alt="New Post Icon")
          | New Post
        a.button.margin1#signup-btn(ui-sref="signup" ng-if="!loggedIn")
          span Signup / Login
        a.button.margin1(ui-sref="faq" ng-if="!loggedIn")
          span How it Works
