header(ng-show="showNav")
  .content
    .left
      a.site-title(ui-sref="home") &lt;code&gt;snap
      //.nav-links
      //  a(ui-sref="home") Home
      //  a(ui-sref="home") Discover
    .center
      .search-box
        .ui.category.search(cr-searchbar)
          .ui.icon.input
            input.prompt(type="text" placeholder="Search Codesnap...")
            i.search.icon
          .results
    .right
      .nav-right(ng-if="loggedIn")
        .ui.dropdown.top.left.pointing
          img.profile-picture(ng-src="{{user.profile_photo_url}}")
          .menu
            a.item(ui-sref="profile({username: user.username })") Profile
            a.item(ui-sref="account") My Account
            a.item(ng-click="logout()") Logout
        a.button(href="{{newPostUrl}}", target="_blank")
          img(src="assets/img/Plus.svg" alt="New Post Icon")
          span New Post
      .nav-right(ng-if="!loggedIn")
        a.button#signup-btn(ui-sref="signup")
          span Signup / Login
//- load semantic ui elements
