.grid-block.vertical
  .grid-block.shrink.vertical.medium-horizontal.title-box
    .grid-content
      h1.post-title {{post.title}}
    .grid-content.shrink.author-picture
      img(src="{{post.authorPic}}")
    .grid-content.author-info
      h5 {{post.author}}
      h6
        small Tagged as:
    .btn-change
        a.button Propose a Change
  hr
  .grid-block.shrink
    .grid-block.small-6.small-offset-3
      //- md.grid-content(ng-model="post.content")
      md.grid-content(ng-include="'assets/sample/sample.md'")
