// *** Global variables ***
$accent-1000: #303030;
$accent-800: #303030;
$accent-500: #5c5c5c;
$accent-300: #9B9B9B;
$accent-200: #e0e0e0;
$accent-100: #f7f7f7;
$highlight: #53A9AD;
$secondary-highlight: #255E60;
$site-title-color: #303030;
$logo-color: #ffffff;
$positive: #95d8b0;
$negative: #fda6a7;
$light: #ffffff;
// *** Mixins ***
@mixin flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-container-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-child {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}


@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
};


// *** Global Settings ***
html,
body {
  height: 100%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

// *** Shared ***
a {
  text-decoration: none;
}
body {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.margin1 {
  margin: 1rem;
}

.logo {
  font-family: "Raleway";
  font-weight: 300;
  color: $logo-color;
}

.header-title {
  color: white;
  padding: 3rem 1rem;
  font-weight: 400;
}

.flex-child {
  @include flex-child;
}

.large-child {
  @include flex-child;
  flex: 0 1 auto;
  width: 680px;
}

.small-child {
  @include flex-child;
  flex: 0 1 auto;
  width: 420px;
}

.content {
  @include flex-container-row;
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.content-full {
  @include flex-container-row;
  width: 100%;
  margin: 0;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.pad-half {
  padding: 0.5rem;
}

.pad1 {
  padding: 1rem;
}

.pad2 {
  padding: 2rem;
}

.darken {
  @include flex-container-row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.darken h3 {
  color: $light;
  padding: 0;
  margin: 0;
}

.radius {
  border-radius: 0.22222222rem;
}

.button {
  padding: 0.6rem;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 300;
  color: $accent-300;
  text-decoration: none;
  transition: border 0.2s ease-in-out;
}

.button:hover {
  //border: 1px solid $accent-200;
  background-color: $accent-100;
  border-radius: 2px;
}

.button img {
  padding-right: 0.3rem;
  height: 0.7692307692rem;
}

.profile-picture {
  height: 2rem;
  width: auto;
  border-radius: 100%;
  margin: 0;
  cursor: pointer;
}

.profile-picture-large {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  margin: 0;
}

.big {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 10rem;
}

.left {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-start;
}

.center {
  @include flex-container-row;
  @include flex-child;
}

.right {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-end;
}

.result-text {
  color: $highlight;
  font-weight: bold;
}


.ui.message.firsttime-message, .ui.message.deleted-message {
  -webkit-animation:fadeIn ease-in;
  -moz-animation:fadeIn ease-in;
  animation:fadeIn ease-in;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 12%;
  z-index: 50;
  p {
    line-height: 100%;
  }
  .header {
    margin-bottom: 1rem;
  }
}
