
/// *** Home Content ***

.discover-container {
  @include flex-container-col;
  padding: 2rem 0;
  text-align: center;
  .center {
    width: 100%;
    max-width: 1140px;
  }

}

.discover-container h2 {
  font-weight: 400;
}

.discover-small {
  @include flex-child;
  margin: 1.11111111rem;
  height: 8.413340525rem;
  width: 13.61111111rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;

  &:hover {
    -webkit-box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    transform: translate(-.2em, -.2em);
  }
}

.discover-large {
  @include flex-child;
  margin: 1.11111111rem;
  height: 8.413340525rem;
  width: 29.44444444rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  &:hover {
    -webkit-box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 5px 21px 0px rgba(50, 50, 50, 0.75);
    transform: translate(-.2em, -.2em);
  }


}

//.content {
//  @include flex-container-row;
//  align-items: flex-start;
//}

.post-title {
  margin: 3rem 0 0 0;
}

.post-list {
  margin: 0;
  padding: 0 1rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 716px;
}

.align-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.post-item {
  opacity: 0;
  -webkit-animation:fadeIn ease-in;
  -moz-animation:fadeIn ease-in;
  animation:fadeIn ease-in;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;
}
