
/// *** Signup ***

.signup-title {
  font-size: 1.6rem;
  margin-top: 60px;
  color: white;
  text-align: center;
}

.intro-content {
  @include flex-container-col;
  max-width: none;
  height: 100%;
  background-color: $secondary-highlight;
}

.signup-content {
  text-align: center;
  .btn-auth {
    width: 40%;
  }
  .signup-steps {
    color: white;
    ul {
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
      line-height: 2;
      li {
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;

        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
        line-height: 1.5;
        &.one {
          animation-delay: 0s;
          -webkit-animation-delay: 0s;
          -moz-animation-delay: 0s;
        }
        &.two {
          animation-delay: 1.5s;
          -webkit-animation-delay: 1.5s;
          -moz-animation-delay: 1.5s;
        }
        &.three {
          animation-delay: 2.8s;
          -webkit-animation-delay: 2.8s;
          -moz-animation-delay: 2.8s;
        }
        &.four {
          font-size: 1.8rem;
          animation-delay: 4.5s;
          -webkit-animation-delay: 4.5s;
          -moz-animation-delay: 4.5s;
          .cta {
            @extend .result-text;
          }
        }
      }
    }
  }
}
