@import '../lib/highlightjs/styles/default.css';
@import 'auth-buttons';
@import 'sticky';
@import 'transition';
@import 'dropdown';
@import 'search';
@import 'ui-select';
@import 'patterns';
// Import fonts
@import 'fonts';
// *** Global variables ***
$accent-1000: #303030;
$accent-800: #303030;
$accent-500: #5c5c5c;
$accent-300: #9B9B9B;
$accent-200: #e0e0e0;
$accent-100: #f7f7f7;
$highlight: #229425;
$site-title-color: #303030;
$logo-color: #ffffff;
$positive: #95d8b0;
$negative: #fda6a7;
$light: #ffffff;
// *** Mixins ***
@mixin flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-container-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-child {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

// *** Global Settings ***
html,
body {
  height: 100%;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

// *** Shared ***
a {
  text-decoration: none;
}
body {
  margin: 0;
}

.no-margin {
  margin: 0;
}

.logo {
  font-family: "Raleway";
  font-weight: 300;
  color: $logo-color;
}

.header-title {
  color: white;
  padding: 3rem 1rem;
  font-weight: 400;
}

.flex-child {
  @include flex-child;
}

.large-child {
  @include flex-child;
  flex: 0 1 auto;
  width: 680px;
}

.small-child {
  @include flex-child;
  flex: 0 1 auto;
  width: 420px;
}

.content {
  @include flex-container-row;
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.content-full {
  @include flex-container-row;
  width: 100%;
  margin: 0;
}

.flex-start {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.pad-half {
  padding: 0.5rem;
}

.pad1 {
  padding: 1rem;
}

.pad2 {
  padding: 2rem;
}

.darken {
  @include flex-container-row;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.darken h3 {
  color: $light;
  padding: 0;
  margin: 0;
}

.radius {
  border-radius: 0.22222222rem;
}

.button {
  padding: 0.2rem;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 300;
  color: $accent-300;
  text-decoration: none;
}

.button:hover {
  border: 1px solid $accent-200;
  border-radius: 2px;
}

.button * {
  padding: 0 0.3rem;
}

.button img {
  height: 0.7692307692rem;
}

.profile-picture {
  height: 2rem;
  width: auto;
  border-radius: 100%;
  margin: 0;
}

.profile-picture-large {
  height: 5rem;
  width: auto;
  border-radius: 100%;
  margin: 0;
}

.big {
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  height: 10rem;
}

.left {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-start;
}

.center {
  @include flex-container-row;
  @include flex-child;
}

.right {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-end;
}

// *** Header ***
header {
  border-bottom: 1px solid $accent-200;
}

.site-title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.4rem;
  text-decoration: none;
  color: $site-title-color;
}

// Main Nav Bar
.nav-links {
  margin: 2rem;
}

.nav-links a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 0.5rem;
  font-size: 1rem;
  color: $accent-800;
  text-decoration: none;
}

.nav-right {
  @include flex-child;
  @include flex-container-row;
  flex: 0 1 auto;
  margin: 1rem;
}

.ui.dropdown {
  a {
    text-decoration: none;
  }
}

.search-box {
  order: 0;
  width: 400px;
  margin: 0.5rem;
}

// *** Subnav ***
.subnav {
  border-bottom: 1px solid $accent-200;
  background: #f4f4f4;
  opacity: .98;
  width: 100%;
}

.stuck-subnav {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  height: 46px;
  justify-content: center;
}

.post-author-date {
  @include flex-container-row;
  flex-direction: column;
  margin: 0 1rem;
  align-items: flex-start;
}

.author {
  color: $accent-800;
  font-size: 1.75rem;
}

.date {
  font-weight: 300;
  color: $accent-300;
  font-size: 0.75rem;
}

.username {
  padding-left: 3px;
  line-height: 20px;
  font-weight: 300;
  color: $accent-300;
  font-size: 0.8rem;
}

#post-error-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0px;
  border: 1px solid #E0B4B4;
  background-color: #FFF6F6;
  color: #912D2B;
  height: 50px;
  cursor: pointer;
  display: none;
  #post-error-text {
    line-height: 50px;
    text-align: center;
  }
  #post-error-x {
    width: 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
}

.subnav .left-icons {
  @include flex-child;
  @include flex-container-row;
  width: 21px;
  height: 21px;
  justify-content: flex-start;
}

.subnav .right-icons {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-end;
}

// *** Content ***
.post-content {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  color: $accent-800;
  letter-spacing: 0.02272727273rem;
  line-height: 1.7272727273rem;
}

pre {
  font-size: 90%;
  line-height: 1.2rem;
  font-family: "Courier 10 Pitch", Courier, monospace;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: block;
  clear: both;
  color: #555555;
  padding: 1rem 1rem;
  background: #f4f4f4;
  border: solid 1px #e1e1e1
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  color: #464646;
  background: #f4f4f4;
  border-style: none;
  padding: .125rem .3125rem .0625rem;
}

.left-icons .icon {
  //margin: 0.rem;
  padding: 0.2rem;
  font-weight: 300;
  color: $accent-300;
  text-decoration: none;
}

.left-icons .icon:hover {}

.left-icons .icon * {
  padding: 0 0.3rem;
}

.left-icons .icon img {
  height: 1rem;
}

.tag {
  @include flex-child;
  flex: 0 1 auto;
  font-size: 0.8rem;
  border: 1px solid $accent-800;
  color: $accent-800;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 8px 5px 8px;
}

.tag:hover {
  cursor: pointer;
  color: $highlight;
  border: 1px solid $highlight;
}

/// *** Home Content ***

.discover-container {
  @include flex-container-col;
  padding: 2rem 0;
}

.discover-small {
  @include flex-child;
  margin: 1.11111111rem;
  height: 8.413340525rem;
  width: 13.61111111rem;
}

.discover-large {
  @include flex-child;
  margin: 1.11111111rem;
  height: 8.413340525rem;
  width: 29.44444444rem;
}

//.content {
//  @include flex-container-row;
//  align-items: flex-start;
//}

.post-title {
  margin: 3rem 0 0 0;
}

.post-list {
  margin: 0;
  padding: 0 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.align-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}


.profile-github-logo {
  max-height: 0.7rem;
}
.post-item {
  @include flex-child;
  @include flex-container-col;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid $accent-200;
  padding: 1.4rem 0;
  width: 100%;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $highlight;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .title {
    margin: 0;
  }

  .summary {
    color: $accent-800;
    margin: 0.6rem 0;
  }
}


.post-date {
  @include flex-child;
  flex: 1 0 3rem;
  margin-top: 0.4rem;
  .date {
    border: 1px solid $accent-300;
    width: 3em;
    height: 3em;
    border-radius: 0.25rem;
    p {
      text-align: center;
      color: $accent-500;
    }
    .month {
      line-height: 0;
      margin-top: 0.5rem;
      margin-bottom: -0.2rem;
    }
    .day {
      line-height: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .year {
      margin-top: -0.3rem;
    }

  }
}
.post-content-container {
  @include flex-child;
  // @include flex-container-row;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 auto;
  font-weight: 300;
  color: $accent-1000;
  a {
    @include flex-child;
  }

  .profile-post-links {
    @include flex-child;
    @include flex-container-col;
    flex-direction: row;
    justify-content: flex-start;

    .link-div {
      @include flex-child;
      @include flex-container-row;
      flex: 0 1 auto;
      margin-right: 1.5rem;
      font-weight: 600;
      font-size: 0.8rem;

      color: $accent-300;
      a {
        color: $accent-300;
      }

      img {
        max-height: 0.7rem;
        margin-right: 0.5rem;
      }

      .profile-pic {
        max-height: 1.5rem;
        border-radius: 100%;
      }

      .author-name{
          margin-left: -1.5rem;
          margin-right: -1.5rem;
        }

      .published {
        color: white;
        background-color: $positive;
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        border-radius: 0.25rem;
      }

      .unpublished {
        color: white;
        background-color: $negative;
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        border-radius: 0.25rem;
      }
    }
  }
}

.edit-bio {
  font-weight: 600;
  font-size: 0.8rem;

  color: $accent-300
}



.commonly-used {
  margin: 1.6rem 0 0.4rem 0;
}

.user-info {
  @include flex-child;
  @include flex-container-row;
}

.user-info-profile {
  @include flex-child;
  @include flex-container-row;
  justify-content: flex-start;
}

.profile-bio {
  color: $accent-800;
  font-weight: 300;
  margin: 1.6rem 0 1rem 0;
}

.tag-list {
  @include flex-container-row;
  flex: 1 1 auto;
  padding: .5rem 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
}

// *** Home Subnav ***
.category-list {
  padding: 0;
  list-style-type: none;
  .underscore {
    border-bottom: 2px solid $accent-300;
  }
}

.category-list a {
  text-decoration: none;
  color: $accent-800;
  padding: 1rem;
}

.category-list a:hover {
  cursor: pointer;
  border-bottom: 2px solid $accent-300;
}

.category-list li {
  display: inline;
  border: none;
  overflow: hidden;
}

/// *** Account ***

.unlink {
  color: red;
}

.unlink:hover {
  border: 1px solid red;
  border-radius: 2px;
}

/// *** Signup ***

.signup-title {
  font-size: 1.6rem;
  margin-top: 60px;
  color: white;
  text-align: center;
}

.intro-content {
  @include flex-container-col;
  height: 100%;
}

//search results page
.result-text {
  color: $highlight;
  font-weight: bold;
}
