@import '../lib/foundation-apps/scss/foundation';
@import '../lib/highlightjs/styles/default.css';

pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}
code {
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    color: #555555;
    padding: 1em 1em;
    background: #f4f4f4;
}

// nav
cr-navbar.navbar {
  .title-bar {
    min-height: 50px;
  }
}


#profile-picture-action-sheet {
  .action-sheet {
    li a, li a:hover {
      color: #000;
    }
  }
  .profile-picture {
      height: 30px;
      width: auto;
      border-radius: 100%;
    }


}

.button-newpost {
  margin: 0 5px;
}

.item {
  font-size: 30px;
  color: blue;
}

//home

.side-categories-menu {
  background-color: #E1E1E1;
}

.topic-bar {
  &.active {
    background-color: $success-color;
  }
}

.topic-line {
  .topic-name {
    color: $primary-color;
  };
  select {
    width: 100px;
    display: inline-block;
  }

};

.post-item {
  h2 {
    margin-top: 0;
  }
  img {
    height: 50px;
    width: auto;
    border: 2px solid $primary-color;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
  }
}

#categoryPanel {
  .block-list {
    width: 100%;
    margin: 0 auto;
    padding-top: 17px;
  }
}


//signup
.introduction-box {
  background: #aa85c7;
  background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
  background-repeat: repeat-x, repeat;
  h2 {
    margin-top: 60px;
    color: #FFFFFF;
  }
}


//post

.title-box {
  padding-top: 20px;
}

.post-title {
  text-align: right;
  @media screen and (max-width: 799px) {
    text-align: center;
  }
}

.author-picture {
   padding: 0;
   img {
    height: 50px;
    width: auto;
    border: 2px solid $primary-color;
    border-radius: 100%;
  }
}

.author-picture, .author-info {
  @media screen and (max-width: 799px) {
    text-align: center;
  }
}

.btn-change {
  position: fixed;
  top: 55px;
  right: 0;
  z-index: 10;
  opacity: 0.7;
  .button {
    margin: 0;
  }
}
