@import '../lib/highlightjs/styles/default.css';
@import 'auth-buttons';
@import 'sticky';
@import 'transition';
@import 'dropdown';
@import 'ui-select';


// Import fonts
@import 'fonts';

// *** Global variables ***

$accent-800: #303030;
$accent-300: #9B9B9B;
$accent-200: #e0e0e0;
$accent-100: #f7f7f7;
$highlight: #3DA993;

// *** Mixins ***

@mixin flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

// *** Global Settings ***


html {
  font-size: 18px;
  font-family: 'Source Sans Pro',  sans-serif;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}


// *** Shared ***

body {
  margin: 0;
}

.content {
  @include flex-container;
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

.button {
  margin: 0.5rem;
  padding: 0.2rem;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 300;
  color: $accent-300;
  text-decoration: none;
}

.button:hover {
  border: 1px solid $accent-200;
  border-radius: 2px;
}

.button * {
  padding: 0 0.3rem;
}

.button img {
  height: 0.7692307692rem;
}

.profile-picture {
  height: 2rem;
  width: auto;
  border-radius: 100%;
  margin: 0;
}

.big {
  height: 15rem;
}

// *** Header ***

header {
  border-bottom: 1px solid $accent-200;
}

.left {
  @include flex-column;
  @include flex-container;
  justify-content: flex-start;
}

.center {
  @include flex-column;
  @include flex-container;
}

.right {
  @include flex-column;
  @include flex-container;
  justify-content: flex-end;
}

.site-title {
  font-size: 1.4rem;
  font-weight: 300;
  text-decoration: none;
  color: $accent-800;
}

.nav-links {
  margin: 2rem;
}

.nav-links a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 0.5rem;
  font-size: 1rem;
  color: $accent-800;
  text-decoration: none;
}

.nav-right {
  @include flex-column;
  @include flex-container;
  flex: 0 1 auto;
  margin: 1rem;
}


.ui.dropdown {
  a {
    text-decoration: none;
  }
}

.search-box {
  order: 0;
  width: 400px;
  margin: 0.5rem;
  .ui-select-container.ui-select-multiple {
    ul.ui-select-choices {
      display: none;
    }
  }
}

// .search-box input {
.ui-select-container.ui-select-multiple {
  input.ui-select-search {
    width: 100% !important;
    border: 1px solid $accent-200;
    border-radius: 2px;
    font-size: 0.75rem;
    padding: 0.4rem;
    font-family: 'Source Sans Pro',  sans-serif;
    font-weight: 300;
  }
  ul.ui-select-choices {
    list-style: none;
    background-color: white;
    padding-left: 0;
    border: 1px solid $accent-200;
  }
  .ui-select-choices-group-label {
    background-color: $accent-100;
    border-bottom: 1px solid $accent-200;
    color: grey;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
  }
  .ui-select-choices-row-inner {
    border-bottom: 1px solid $accent-200;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
  }
}

// *** Subnav ***

.subnav {
  border-bottom: 1px solid $accent-200;
  background: #f4f4f4;
  opacity: .92;
}

.post-author-date {
  @include flex-container;
  flex-direction: column;
  margin: 0 1rem;
  align-items: flex-start;
}

.post-author-date .author {
  color: $accent-800;
}

.post-author-date .date {
  font-weight: 300;
  color: $accent-300;
  font-size: 0.75rem;
}

.subnav .left-icons {
  @include flex-column;
  @include flex-container;
  justify-content: flex-start;
}

.subnav .right-icons {
  @include flex-column;
  @include flex-container;
  justify-content: flex-end;
}

// *** Content ***

.post {
  @include flex-column;
  flex: 1 1 700px;
  max-width: 700px;
}

.post-content {
  font-family: 'Merriweather',  sans-serif;
  font-weight: 300;
  color: $accent-800;
  letter-spacing: 0.02272727273rem;
  line-height: 1.7272727273rem;
}

pre {
  font-size: 90%;
  line-height: 1.2rem;
  font-family: "Courier 10 Pitch", Courier, monospace;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;

  display: block;
  clear: both;
  color: #555555;
  padding: 1rem 1rem;
  background: #f4f4f4;
  border: solid 1px #e1e1e1
}

code {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-weight: 400;
  color: #464646;
  background: #f4f4f4;
  border-style: none;
  padding: .125rem .3125rem .0625rem;
}

.left-icons .icon {
  //margin: 0.rem;
  padding: 0.2rem;
  font-weight: 300;
  color: $accent-300;
  text-decoration: none;
}

.left-icons .icon:hover {
}

.left-icons .icon * {
  padding: 0 0.3rem;
}

.left-icons .icon img {
  height: 1rem;
}

#post-tags {
  width: 100%;
  height: auto;
  display: block;
  clear: both;
  overflow:hidden;
  margin-top: -0.8rem;
  margin-bottom: 2rem;
}

.tag {
  font-size: 0.8rem;
  border: 1px solid $accent-800;
  color: $accent-800;
  border-radius: 5px;
  margin: 2px;
  padding: 5px 8px 5px 8px;
  float: left;
}

.tag:hover {
  cursor: pointer;
  color: $highlight;
  border: 1px solid $highlight;


}


// *** Footer ***


/// *** Home Content ***

.content .align-top {
  @include flex-container;
  align-items: flex-start;
}

.post-list {
  @include flex-column;
  @include flex-container;
  padding: 0 1rem;
  width: 61.8%;
  flex-direction: column;
  align-items: flex-start;
}

.post-item {
  @include flex-column;
  @include flex-container;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid $accent-200;
  padding: 1.4rem 0;
  width: 100%;
}

.post-item .title {
  margin: 1rem 0;
}

.post-item .summary {
  margin: 0.6rem 0;
  //padding: 0;
}

.user-info {
  @include flex-column;
  @include flex-container;
}

.tag-list {
   @include flex-column;
   @include flex-container;
   padding: 1rem;
   width: 38.2%;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   align-self: flex-start;
 }


// *** Home Subnav ***

.post-categories {
  width: 61.8%
}

.tag-categories {
  width: 38.2%;
}

.category-list {
  padding: 0;
  list-style-type: none;
  .underscore {
    border-bottom: 2px solid $accent-300;
  }
}

.category-list a {
  text-decoration: none;
  color: $accent-800;
  padding: 1rem;
}

.category-list a:hover {
  cursor: pointer;
  border-bottom: 2px solid $accent-300;
}

.category-list li {
  display: inline;
  border: none;
  overflow: hidden;
}

// *** Profile ***

.user-info {
  @include flex-column;
  @include flex-container;
}

.tag-list {
  @include flex-column;
  @include flex-container;
  padding: 1rem;
  width: 38.2%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
}


/// *** Account ***
.user-card {
  @include flex-column;
}

.unlink {
  background-color: red;
}

.post-list {
  margin: 0;
}


//cr-navbar.navbar {
//  .title-bar {
//    min-height: 50px;
//  }
//}
//
//.search-box {
//  input {
//    color: #000;
//  }
//}$teal
//
//#profile-picture-action-sheet {
//  .action-sheet {
//    li a, li a:hover {
//      color: #000;
//    }
//  }
//  .profile-picture {
//      height: 30px;
//      width: auto;
//      border-radius: 100%;
//    }
//
//
//}
//
//.button-newpost {
//  margin: 0 5px;
//}
//
//.item {
//  font-size: 30px;
//  color: blue;
//}
//
////home
//
//.side-categories-menu {
//  background-color: #E1E1E1;
//}
//
//.topic-bar {
//  &.active {
//    background-color: $success-color;
//  }
//}
//
//.topic-line {
//  .topic-name {
//    color: $primary-color;
//  };
//  select {
//    width: 100px;
//    display: inline-block;
//  }
//
//};
//
//.post-item {
//  h2 {
//    margin-top: 0;
//  }
//  img {
//    height: 50px;
//    width: auto;
//    border: 2px solid $primary-color;
//    border-radius: 100%;
//    float: left;
//    margin-right: 5px;
//  }
//}
//
//#categoryPanel {
//  .block-list {
//    width: 100%;
//    margin: 0 auto;
//    padding-top: 17px;
//  }
//}
//
//
////signup
//.introduction-box {
//  background: #aa85c7;
//  background-image: url("../img/zenbg-1.png"), url("../img/zenbg-2.png");
//  background-repeat: repeat-x, repeat;
//  h2 {
//    margin-top: 60px;
//    color: #FFFFFF;
//  }
//}
//
//
////post
//
//.title-box {
//  padding-top: 20px;
//}
//
//.post-title {
//  text-align: right;
//  @media screen and (max-width: 799px) {
//    text-align: center;
//  }
//}
//
//.author-picture {
//   padding: 0;
//   img {
//    height: 50px;
//    width: auto;
//    border: 2px solid $primary-color;
//    border-radius: 100%;
//  }
//}
//
//.author-picture, .author-info {
//  @media screen and (max-width: 799px) {
//    text-align: center;
//  }
//}
//
//.btn-change {
//  //position: fixed;
//  //top: 200px;
//  right: 0;
//  z-index: 10;
//  opacity: 0.7;
//  .button {
//    margin: 0;
//  }
//}
