{
  'env': {
    'browser': true,
    'node': true,
    'mocha': true,
    'jquery': true
  },
  'rules': {
   'no-mixed-requires': 0,
   'no-undef': 0,
   'no-underscore-dangle': 0,
   'new-cap' : 0
  }
}