section.subnav.sticky(home-subnav)
    .content
        .large-child
            ul.category-list
                a.recent-posts-btn(ng-click="getRecentPosts()", ng-class="{underscore: category==='recent'}")
                    li Recent Posts
                a.top-posts-btn(ng-click="getTopPosts()", ng-class="{underscore: category==='top'}")
                    li Top Posts
        .small-child
            ul.category-list
                a(ng-class="{underscore: true}")
                    li Popular Tags
