section.subnav(home-subnav)
    .content
        .post-categories
            ul.category-list
                a(ng-click="getRecentPosts()", ng-class="{underscore: category==='recent'}")
                    li Recent Posts
                a(ng-click="getTopPosts()", ng-class="{underscore: category==='top'}")
                    li Top Posts
        .tag-categories
            ul.category-list
                a(ng-class="{underscore: true}")
                    li Popular Tags



//ul.primary.menu-bar.hide-for-large
//  li
//    a(href="#" zf-toggle="categoryPanel") Categories
