section.subnav
    .content
        .post-categories
            ul.category-list
                a(href="#")
                    li Top Posts
                a(href="#")
                    li Recent
        .tag-categories
            ul.category-list
                a(href="#")
                    li Popular Tags



//ul.primary.menu-bar.hide-for-large
//  li
//    a(href="#" zf-toggle="categoryPanel") Categories
