section.subnav(post-subnav ng-show="postData")
    .content
        img.profile-picture(src="{{postData.profile_photo_url}}" alt="profile photo")
        .left-icons
            .post-author-date
                span.author {{postData.author}}
                span.date {{postData.created_date | date:"MMM dd, yyyy"}}
            a.icon(ng-click="toggleLike()" ng-class="{active: isLiked()}")
                img(src="assets/img/Heart.svg" alt="New Post Icon")
                span {{postData.likes}}
            a.icon
                img(src="assets/img/User.svg" alt="New Post Icon")
                span 3
            a.icon
                img(src="assets/img/Comment.svg" alt="New Post Icon")
                span 7
        .right-icons
            //a.button
            //    img(src="assets/img/Share.svg" alt="New Post Icon")
            //    span Share
            a.button(href="{{postData.editUrl}}", target="_blank")
                img(src="assets/img/Edit.svg" alt="New Post Icon")
                span Propose Change
