#post-error-container
  #post-error-text Please #[strong(ui-sref="signup") log in] to like or contribute to post
  img#post-error-x(src="../../../assets/img/x.png")
section.subnav.sticky(post-subnav ng-show="postData")
  .content.pad-half
    img.profile-picture(src="{{postData.profile_photo_url}}" alt="profile photo" ui-sref="profile({username: postData.username})")
    .left-icons
      .post-author-date
        span.author(ui-sref="profile({username: postData.username})") {{postData.author}}
        span.date {{postData.created_date | date:"MMM dd, yyyy"}}
      a.icon(ng-click="toggleLike()")
        img.heart(src="assets/img/heart-full.png" alt="New Post Icon" ng-show="isLiked")
        img.heart(src="assets/img/heart-empty.png" alt="Likes Icon" ng-hide="isLiked")
        span {{postData.likes}}
      a.icon
          img(src="assets/img/views.svg" alt="Views Icon")
          span {{postData.post_views}}
      a.icon
          img(src="assets/img/comment.svg" alt="Comment Icon")
          span {{postData.commentCount}}
    .right-icons
      a.button(href="{{postData.editUrl}}", target="_blank")
        img(src="assets/img/Edit.svg" alt="Edit Post")
        span Propose Change
