section.subnav.sticky(profile-subnav)
    .content
        .small-child
        .large-child
            ul.category-list
                a( href="#/#" ng-click="updateProfilePosts('recent')", ng-class="{underscore: category==='recent'}")
                    li Recent Posts
                a(href="#/#" ng-click="updateProfilePosts('top')", ng-class="{underscore: category==='top'}")
                    li Top Posts
                a(href="#/#" ng-click="updateProfilePosts('unpublished')", ng-class="{underscore: category==='unpublished'}" ng-show="isCurrentUser")
                    li Unpublished
