.content-full.pattern-argyle
  h2.header-title {{name}}
.content.align-top
  .large-child.post-list
    .post-item(ng-repeat="post in posts")
      a(ui-sref="post({id: post.post_id })")
        h2.title {{post.post_title}}
      .user-info
        a(ui-sref="profile({username: post.username })")
          img.profile-picture(ng-src="{{post.profile_photo_url}}" alt="profile photo")
        a.post-author-date(ui-sref="profile({username: post.username })")
          span.author {{post.author}}
          span.date {{post.created_date | date:"MMM dd, yyyy"}}
      a(ui-sref="post({id: post.post_id })")
        p.summary {{post.summary}}...