.discover-container
  .content
      h2 Discover
  .content
    a.discover-large.pattern-argyle.radius(ui-sref="tag({name: tags[0].title})")
      .darken.radius
        h3 {{tags[0].title}}
    a.discover-small.pattern-zigzag.radius(ui-sref="tag({name: tags[1].title})")
      .darken.radius
        h3 {{tags[1].title}}
    a.discover-small.pattern-cross.radius(ui-sref="tag({name: tags[2].title})")
      .darken.radius
        h3 {{tags[2].title}}
  .content
    a.discover-small.pattern-waves.radius(ui-sref="tag({name: tags[3].title})")
      .darken.radius
        h3 {{tags[3].title}}
    a.discover-large.pattern-brady-bunch.radius(ui-sref="tag({name: tags[4].title})")
      .darken.radius
        h3 {{tags[4].title}}
    a.discover-small.pattern-weave.radius(ui-sref="tag({name: tags[5].title})")
      .darken.radius
        h3 {{tags[5].title}}
.content.align-top
  .large-child.post-list(infinite-scroll="addMorePosts(posts[posts.length-1])" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-immediate-check="false")
    .post-item(ng-repeat="post in posts")
      a(ui-sref="post({id: post.post_id })")
        h2.title {{post.post_title}}
      .user-info
        a(ui-sref="profile({username: post.username })")
          img.profile-picture(ng-src="{{post.profile_photo_url}}" alt="profile photo")
        a.post-author-date(ui-sref="profile({username: post.username})")
          span.author {{post.username}}
          span.date {{post.created_date | date:"MMM dd, yyyy"}}
      a(ui-sref="post({id: post.post_id })")
        p.summary {{post.summary}}...
