.content.home
    .post-list
      .post-item(ng-repeat="post in posts" ui-sref="post({id: {{post.post_id}} })")
        h2.title {{post.post_title}}
        .user-info
          img.profile-picture(src="{{post.profile_photo_url}}" alt="profile photo")
          .post-author-date
            span.author {{post.author}}
            span.date {{post.created_date | date:"MMM dd, yyyy"}}
        p.summary {{post.summary}}...
    .tag-list
      p.tag(ng-repeat="tag in tags" tag-id="{{tag.id}}") {{tag.title}}
