.grid-block.vertical.medium-3
  .grid-content
    h5 Choose a Category:
    ul
      li(ng-repeat="topic in topics")
        a(ui-sref="#") {{topic}}
.grid-block.vertical
  h4
    span The #{''}
      div(zf-action-sheet="")
        div(zf-as-button="" title="{{topicFilter}}")
        div(zf-as-content="" position="bottom")
          ul
            li(ng-repeat="topicFilter in topicFilters")
              a(ui-sref="#") {{topicFilter}}
    span #{''} in #{''}
      div(zf-action-sheet="")
        div#topic-title(zf-as-button="" title="{{topic}}")
        div(zf-as-content="" position="bottom")
          ul
            li(ng-repeat="topic in topics")
              a(ui-sref="#") {{topic}}
  a(ng-repeat="post in posts" ui-sref="post({id: {{post.id}} })")
    hr
    h4.grid-content {{post.title}}
    .grid-block
      img(src="{{post.authorPic}}")
      h5.grid-content {{post.author}}
    p.grid-content {{post.content}}
    //- a(ui-sref="post({id: {{post.id}}})") Keep Reading...
.grid-block.vertical.medium-1
