.grid-block.vertical.medium-3
  .grid-content
    h5 Choose a Category:
    ul
      li(ng-repeat="topic in topics") {{topic}}
.grid-block.vertical
  h4 The {{topicFilter}} in {{selectTopic}}
  div(ng-repeat="post in posts")
    hr
    h4.grid-content {{post.title}}
    h5.grid-content {{post.author}}
    p.grid-content {{post.content}}
    button Keep Reading
.grid-block.vertical.medium-3
