.subnav
  .discover-container
    h1 Welcome to &lt;code&gt;snap.
    h2.margin1 Discover the latest technical posts from engineers like you, or 
      a(href="#" ng-click="newPost()").result-text write your own.
    .center
      a.discover-large.radius(ui-sref="tag({name: tags[0].title})" class="pattern-{{tags[0].pattern}}")
        .darken.radius
          h3 {{tags[0].title}}
      a.discover-small.radius(ui-sref="tag({name: tags[1].title})" class="pattern-{{tags[1].pattern}}")
        .darken.radius
          h3 {{tags[1].title}}
      a.discover-small.radius(ui-sref="tag({name: tags[2].title})" class="pattern-{{tags[2].pattern}}")
        .darken.radius
          h3 {{tags[2].title}}
    .center
      a.discover-small.radius(ui-sref="tag({name: tags[3].title})" class="pattern-{{tags[3].pattern}}")
        .darken.radius
          h3 {{tags[3].title}}
      a.discover-large.radius(ui-sref="tag({name: tags[4].title})" class="pattern-{{tags[4].pattern}}")
        .darken.radius
          h3 {{tags[4].title}}
      a.discover-small.radius(ui-sref="tag({name: tags[5].title})" class="pattern-{{tags[5].pattern}}")
        .darken.radius
          h3 {{tags[5].title}}
.content.align-top  
  .large-child.post-list(infinite-scroll="addMorePosts(posts[posts.length-1])" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-immediate-check="false")
    ul.category-list
        a(ng-click="updateCategory('top')", ng-class="{underscore: category==='top'}")
            li Top Posts
        a(ng-click="updateCategory('recent')", ng-class="{underscore: category==='recent'}")
            li Recent Posts
    .post-item(ng-repeat="post in posts")
      .post-date
        .date
          p.month {{post.created_date | date:"MMM"}}
          p.day {{post.created_date | date:"dd"}}
          p.year {{post.created_date | date:"yyyy"}}

      .post-content-container
        a.clickable(ui-sref="post({id: post.post_id })")
          h2.title {{post.post_title}}
        a(ui-sref="post({id: post.post_id })")
          p.summary {{post.summary}}...
        .profile-post-links
          a.link-div(ui-sref="profile({username: post.username })")
            .link-div
              img.profile-pic(ng-src="{{post.profile_photo_url}}")
            .link-div
              span.author-name {{post.author}}
          .link-div
            img(src="assets/img/heart-empty-thick.svg" alt="Edit Post")
            span {{post.likes}}       
          .link-div
            img(src="assets/img/views.svg" alt="Post View Count")
            span {{post.views}}
