.grid-block.vertical.medium-3.show-for-large
  .grid-content
    section.block-list
      header Choose a Category
      ul
        li.topic-bar(ng-repeat="topic in topics" ng-class="{active: isSelectedTopic(topic)}")
          a(href="#" ng-click="chooseTopic(topic)") {{topic}}
            span.block-list-label {{posts.length}}
.grid-block.vertical
  h2.topic-line The #{' '}
    select(name="" ng-model="topicFilter")
      option(ng-repeat="filter in topicFilters" value="{{filter}}") {{filter}}
    |  in #{' '}
    span.topic-name {{topic}}:
  .grid-content
    .post-item(ng-repeat="post in posts" ui-sref="post({id: {{post.id}} })")
      hr
      h2 {{post.title}}
      img(src="{{post.authorPic}}")
      h5 {{post.author}}
      p {{post.content}}
