zf-panel#categoryPanel.fixed-panel
  a.close-button(zf-close="") ×
  .block-list
    header Choose a Category
    ul
      li(ng-repeat="topic in topics" ng-class="{active: isSelectedTopic(topic)}")
        a.topic-btn(href="#" ng-click="chooseTopic(topic)" zf-close="") {{topic}}
          span.block-list-label {{posts.length}}

.grid-block.vertical.medium-3.show-for-large.side-categories-menu
  .grid-content
    section.block-list
      header Choose a Category
      ul
        li.topic-bar(ng-repeat="topic in topics" ng-class="{active: isSelectedTopic(topic)}")
          a.topic-btn(href="#" ng-click="chooseTopic(topic)") {{topic}}
            span.block-list-label {{posts.length}}
.grid-block.vertical
  .grid-container
    h2.topic-line The #{' '}
      select(name="" ng-model="topicFilter")
        option(ng-repeat="filter in topicFilters" value="{{filter}}") {{filter}}
      |  in #{' '}
      span.topic-name {{topic}}:
  .grid-container
    .grid-block.vertical
      .post-item(ng-repeat="post in posts" ui-sref="post({id: {{post.post_id}} })")
        hr
        .grid-content
          h2 {{post.post_title}}
        .grid-content
          img(src="{{post.profile_photo_url}}")
          h5 {{post.author}}
        //- p {{post.post_content}}
