.content.align-top
  //  p Here are your results for
  //      span {{searchQuery}}
  .large-child.post-list
    h3 Results for 
      strong.result-text {{searchQuery}}
    .post-item(ng-repeat="post in results" ui-sref="post({id: {{post.post_id}} })")
      h2.title {{post.post_title}}
      .user-info
        img.profile-picture(src="{{post.profile_photo_url}}" alt="profile photo")
        .post-author-date
          span.author {{post.author}}
          span.date {{post.created_date | date:"MMM dd, yyyy"}}
      p.summary {{post.summary}}...
