.content.align-top
  //  p Here are your results for
  //      span {{searchQuery}}
  .large-child.post-list
    h3 Results for
      strong.result-text {{searchQuery}}

    .post-item(ng-repeat="post in posts")
      .post-date
        .date
          p.month {{post.created_date | date:"MMM"}}
          p.day {{post.created_date | date:"dd"}}
          p.year {{post.created_date | date:"yyyy"}}

      .post-content-container
        a.clickable(ui-sref="post({id: post.post_id })")
          h2.title {{post.post_title}}
        a(ui-sref="post({id: post.post_id })")
          p.summary {{post.summary}}...
        .profile-post-links
          a.link-div(ui-sref="profile({username: post.username })")
            .link-div
              img.profile-pic(src="{{post.profile_photo_url}}")
            .link-div
              span.author-name {{post.author}}
          .link-div
            img(src="assets/img/heart-empty-thick.svg" alt="Edit Post")
            span {{post.likes}}       
          .link-div
            img(src="assets/img/views.svg" alt="Post View Count")
            span {{post.views}}
