.content
  .large-child.justify-center.account-text
    img.profile-picture.big.center.pad1(src="{{user.profile_photo_url}}")
    h2.no-margin.center {{user.username}}
    h3.no-margin.center {{user.name}}
    p.center We'd hate to see you leave your snaps behind.
    p.subheader.center But if you must, there's a button for that.
    p.subheader.center (note: deleting your account will not delete your codesnap repository on Github)
    a.button.unlink.center(ng-click="removeUser()") Delete My Profile!
