.content.align-top
  .small-child.pad2
    .user-info-profile
      img.profile-picture-large(ng-src="{{user.profile_photo_url}}" alt="profile photo")
      .post-author-date(ui-sref="profile({username: post.username })")
        span.author {{user.name}}
        .flex-child
          img(src="assets/img/github.svg" alt="Github icon")
          span.username {{user.username}}
    p.profile-bio This is my bio This is my bio This is my bio This is my bio This is my bio This is my bio This is my bio This is my bio
    a.button
      img(src="assets/img/Edit.svg" alt="Edit Bio")
      span Edit
    h4.commonly-used Commonly used
    .tag-list(offset="67px")
      p.tag(ui-sref="tag({name: tag.title })") Baller :)
  .large-child.post-list
    .post-item(ng-repeat="post in posts")
      a(ui-sref="post({id: post.post_id })")
        h2.title {{post.post_title}}
      a(ui-sref="post({id: post.post_id })")
        p.summary {{post.summary}}...