div.ui.message.floating.info.firsttime-message(ng-show="newUser")
  i.close.icon(ng-click="newUser = false")
  .header
    | Welcome to &lt;code&gt;snap.
  p First timer, eh? We've created a new repository called 'codesnap.io' on your Github profile. 
    a(href="https://www.github.com/{{user.username}}/codesnap.io")  Check it out here.
  p We've also created a markdown post for you called 
    a(href="https://www.github.com/{{user.username}}/codesnap.io/posts/myFirstPost.md") myFirstPost.md, 
    | but don't worry, it's not published yet! You can publish the post by changing the front-matter of the markdown file. 
    a(ui-sref="faq") Visit our how-to
    |  to learn more about codesnapping like a pro.
    
.content.align-top
  .small-child.pad2.align-top
    .user-info-profile
      img.profile-picture-large(ng-src="{{user.profile_photo_url}}" alt="profile photo")
      .post-author-date
        span.profile-name {{user.name}}
        .flex-child
          a(href="{{githubUrl}}" target="_blank")
            img.profile-github-logo(src="assets/img/github.svg" alt="Github icon")
            span.username {{user.username}}
    p.profile-bio(ng-show="bio") {{bio}}
    a.button(href="{{editBioUrl}}" target="_blank" ng-show="bio && isOwner")
      img(src="assets/img/Edit.svg" alt="Edit Bio")
      span.edit-bio Edit Bio
    h4.commonly-used Commonly Used Tags
    .tag-list(offset="67px")
      p.tag(ng-repeat="tag in tags" ui-sref="tag({name: tag.title })") {{tag.title}}
  .large-child.post-list.align-top
    .post-item(ng-repeat="post in posts" ng-hide="!isOwner && !post.published")
      .post-date
        .date
          p.month {{post.created_date | date:"MMM"}}
          p.day {{post.created_date | date:"dd"}}
          p.year {{post.created_date | date:"yyyy"}}

      .post-content-container(ng-show="post.published || isOwner")
        a.clickable(ui-sref="post({id: post.post_id })")
          h2.title {{post.post_title}}
        p.summary {{post.summary}}...
        .profile-post-links
          .link-div(ng-show="isOwner")
              a(href="https://www.github.com/{{user.username}}/codesnap.io/edit/master/{{post.file}}" target="_blank")
                img(src="assets/img/Edit.svg" alt="Edit Post")
                span Edit
          .link-div
            img(src="assets/img/heart-empty-thick.svg" alt="Edit Post")
            span {{post.likes}}       
          .link-div
            img(src="assets/img/views.svg" alt="Post View Count")
            span {{post.views}}         
          .link-div(ng-show="isOwner")
              span.published.status-container(ng-show="post.published") Published
              span.unpublished.status-container(ng-hide="post.published") Unpublished
