.content.align-top
  .small-child.pad2
    .user-info-profile
      img.profile-picture-large(ng-src="{{user.profile_photo_url}}" alt="profile photo")
      .post-author-date
        span.author {{user.name}}
        .flex-child
          a(href="{{githubUrl}}" target="_blank")
            img(src="assets/img/github.svg" alt="Github icon")
            span.username {{user.username}}
    p.profile-bio(ng-show="bio") {{bio}}
    a.button(href="{{editUrl}}" ng-show="bio && isAdmin")
      img(src="assets/img/Edit.svg" alt="Edit Bio")
      span Edit Bio
    h4.commonly-used {{user.name.split(" ")[0]}}'s Tags
    .tag-list(offset="67px")
      p.tag(ng-repeat="tag in tags" ui-sref="tag({name: tag.title })") {{tag.title}}
  .large-child.post-list
    .post-item2(ng-repeat="post in posts")
      .post-date
        .date
          p.month {{post.created_date | date:"MMM"}}
          p.day {{post.created_date | date:"dd"}}
          p.year {{post.created_date | date:"yyyy"}}

      .post-content-container
        a(ui-sref="post({id: post.post_id })")
          h2.title {{post.post_title}}
        a(ui-sref="post({id: post.post_id })")
          p.summary {{post.summary}}...
        .profile-post-links
          .link-div(ng-show="isAdmin")
              a(href="{{githubUrl}}" target="_blank")
                img(src="assets/img/edit.svg" alt="Edit Post")
                span Edit
          .link-div
            img(src="assets/img/heart-empty-thick.svg" alt="Edit Post")
            span 14        
          .link-div
            img(src="assets/img/views.svg" alt="Post View Count")
            span 46         
          .link-div(ng-show="isAdmin")
              span.published(ng-show="{{post.published}}") Published
              span.unpublished(ng-show="{{post.published}}") Unpublished
