.intro-content.center
  .flex-child
    .signup-title.pad2
      span.logo &lt;code&gt;snap
      |  is the fast and easy way to share your technical writing.
    .flex-child.center
      a.btn-auth.btn-github.large(href="/auth/github") Signup or Login with Github

