.intro-content.pattern-argyle.center
  .flex-child
    .signup-title.pad2
      span.logo &lt;code&gt;snap
      p The fast and easy way to share your technical writing
    .signup-content
      .signup-steps
        a.btn-auth.btn-github.large(href="/auth/github") Sign in with Github
        ul
          li.one Sign up with your Github account
          li.two Push markdown into your &lt;code&gt;snap repo
          li.three Your work is immediately available to the community
      
