.grid-block.vertical.introduction-box
  .grid-content
    h2(animation-in="slideInRight") Crouton is a new way to share your best code.
.grid-block.vertical.shrink
  .grid-content
    h3.subheader Sign up or log in with Github!
    a.btn-auth.btn-github.large(href="/auth/github") Sign Up With Github
