.grid-block.vertical
  .grid-content
    h2 Crouton is a new way to share your best code.
.grid-block.vertical
  .grid-content
    h3 Sign up or log in with Github
    a.btn-auth.btn-github.large(ng-click="githubSignup()") Sign Up With Github
