.introduction-box
  .intro-content
    h2.pad2(animation-in="slideInRight") CodeSnap is the fast and easy way to share your technical writing.
  .signup-content
    a.btn-auth.btn-github.large(href="/auth/github") Signup or Login with Github
